# Arquivos e pastas específicos do Visual Studio
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Arquivos específicos do Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Arquivos específicos do Rider
.idea/
*.sln.iml

# Arquivos de build e bin
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Arquivos específicos do .NET
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

# Arquivos de banco de dados
*.db
*.db-shm
*.db-wal

# Arquivos de log e diretórios
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.stackdump

# Outros arquivos
*.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.swp
*.*~ 